<link rel="login.component.css">
<div class="container-fluid">
<div class ="row">
<div class="col">

<div class="col-4">
<div class ="card shadow"> 


    <div class="card-body">


        <form> 
<div class="mb-3">
    <h1> Reset Password </h1>
</div>  
        <div class="mb-3">
            <label for="formGroupExampleInput">Email</label>
            <input type="email" class="form-control" id="formGroupExampleInput" placeholder="email">
        </div>
        
        
        <br>
    <button type="button" class="btn btn-info"> Send Rest Link </button>
        <div class="row">

    <div class="col-5">
        <br>
                 <a [routerLink]="['/login']" style="text-decoration:none" class="text-dark">   Click to login    </a>

        </div>

        </div>
        </form>
    </div>
</div>

</div>

</div>

</div>

</div> 